<body>
<div class="banner">
  <h1>All Cocktails</h1>
<button type="button" class="btn btn-outline-danger text-decoration-none"><%= link_to 'Make Your Own', new_cocktail_path %></button>
  </div>
  <div class="cards">
  <% @cocktails.each do |cocktail| %>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://kitt.lewagon.com/placeholder/cities/rio)">
  <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
  </div>
  <% end %>
  </div>
</body>

